{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav class="site-nav-simple">
      <a href="{{ base_path }}/" class="site-nav-title">{{ site.title }}</a>
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = base_path %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="site-nav-link">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</div>
